*{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    width:100%;
    height:100vh;
    overflow-y: hidden;
}
.container{
    background-color: aliceblue;
    width:21%;
    height:62vh;
    margin:auto;
    margin-top:100px;
}
.header{
    text-align: center;
}

input[type="text"]{
    margin-top:10%;
    margin-left: 6%;
    height:4vh;
    border:0;
    border-bottom: 1px solid #000;
    
    width:86%;
}

input[type="button"]{
    margin-top:10%;
    width:11%;
    height:5vh;
    margin-left:10%;
    background-color: #33ccff;
    border:0;
    cursor:pointer;
}